url = "/blog/:page?"
layout = "main"
title = "Blog"

[viewBag]
localeTitle[ru] = "Блог"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 6
categoryPage = "category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "category"
postPage = "post"
==
{% set posts = blogPosts.posts %}
{% partial 'header-theme' %}
<section class="Blogs mt-5 mt-8" >
    <div class="container">
      <div class="row clearfix">
        <div class="column column-75">
          <div class="row blog-loop-wrapper">
            {% for post in posts %}
            <div class="card-blog-loop column column-2">
              <div class="blog-card">
                <div class="card-img-wrapper">
                  <div class="card-img-top img-zoom-wrapper">
                    {% for image in post.featured_images|slice(0, 1) %}
                    <img class="blog-card-img" src="{{ image.path }}" alt="{{ post.title }}" />
                    {% endfor %}
                  </div>
                  <div class="card-category">
                    {% for category in post.categories|slice(0, 1)  %}
                    <p>{{ category.name }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="blog-card-body">
                  <a href="{{ post.url }}">
                    <h2 class="blog-card-title">{{ post.title }}</h2>
                  </a>
                  <p class="card-desc">
                      {{ post.excerpt }}
                  </p>
                  <div class="card-date">
                    <small>{{ post.published_at|date('d/mY') }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="pagination-row">
                
              <div class="column column-1 pagination-wrapper">
                <div class="pagination">
                {% if posts.currentPage != 1 %}
                    <a href="{{ 'blog' | page({page:posts.currentPage-1}) }}" class="button style-pagination">{{ 'Əvvəlki' |_}}</a>
                {% endif %}
                {% for page in 1..posts.lastPage %}
                    <a href="{{ 'blog' | page({page:page}) }}" class="{{ posts.currentPage == page ? 'current' : null }} button style-pagination left-border-none ">
                    {{ page }}
                    </a>
                {% endfor %}
                {% if posts.currentPage != posts.lastPage %}
                    <a href="{{ 'blog' | page({page:posts.currentPage+1}) }}" class="button style-pagination left-border-none">
                    {{ 'Növbəti' |_ }}
                    </a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column column-25 sidebar-wrapper">
          <div class="blogPost-side-menu">

            <div class="categories">
              <div class="sideBar-title">
                <h5 class="text-bold">
                  <span class="side-icon">//</span>
                  <span class="side-title-text">{{ 'Kateqoriyalar' |_ }}</span>
                </h5>
              </div>
              {% component 'blogCategories' %}


            </div>
            <div class="follow-us">
              <div class="sideBar-title">
                <h5 class="text-bold">
                  <span class="side-icon">//</span>
                  <span class="side-title-text">{{ 'BİZİ İZLƏYİN' |_ }}</span>
                </h5>
              </div>
              <div class="sosmed-icon-wrapper">
                {% for social in company.socials %}
                <a href="{{ social.url }}" target="_blank">
                  <div class="icon-wrapper">
                    <i class="{{ social.name }}"></i>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% partial 'footer-theme' %}