url = "/"
layout = "main"
title = "Home"

[viewBag]
localeTitle[en] = "Home"
localeTitle[ru] = "Главная"


[Sliders]
[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "Xəbər tapılmadı"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==

{% partial 'header-theme' %}
    <!--SLIDER START-->
    <section class="header-swiper" id="home">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for slider in sliders.slider %}
          <div class="swiper-slide">
            <div class="swiper-bg" style="
            background: url('{{ slider.image | media }}');
            background-size: cover;
            background-position: center center;
          ">
              <div class="header-text-wrap">
                <div class="container">
                  <div class="row header-text">
                    <img src="{{ 'assets/images/transparent-shape1.png' | theme }}" alt="header-shape" class="header-shape" />
                    <div class="header-title">
                      <p class="text-white">{{ slider.suptitle }}</p>
                    </div>
                    <div class="header-sub-title">
                      <h1 class="text-white">
                        {{ slider.title }}
                      </h1>
                    </div>
                    <div class="header-desc">
                      <p class="text-white">
                        {{ slider.subtitle }}
                      </p>
                    </div>
                    {% if false %}
                    <div class="header-button">
                      <p class="learn-more">
                        <a class="text-white" href="{{ slider.btn_url }}">{{ slider.btn_txt }}</a>
                        <i class="fas fa-long-arrow-alt-right text-white"></i>
                      </p>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!--END SWIPER-->

      <!---ABOUT START-->
      <section class="About" id="about">
        <div class="container">
          <div class="row clearfix">
            <div class="column column-2 about-section d-flex align-items-center">
              <div class="about-section-title ">
                <h2 class="text-blue">{{ company.about_title }}</h2>
                <hr class="left-hr" />
                <p class="sub-title">
                </p>
                <p class="text-gray about-desc">
                  {{ company.about_text | raw }}
                </p>
              </div>
            </div>
            <div class="column column-2 gallery-section">
              <div class="gallery" id="lightGallery">
                <div data-src="{{ company.about_image_1 | media }}" data-responsive-src="{{ company.about_image_1 | media }}" data-aos="fade-up"
                  data-aos-duration="3100" class="img-gallery-wrap">
                  <a href="#">
                    <div class="img-gallery">
                      <img class="res-img gallery-image" src="{{ company.about_image_1 | media }}" alt="image-1" />
                      <div class="on-hover-component">
                        <i class="fas fa-search hover-icon"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div data-src="{{ company.about_image_2 | media }}" data-responsive-src="{{ company.about_image_2 | media }}" data-aos="fade-up"
                  data-aos-duration="3100" class="img-gallery-wrap">
                  <a href="#">
                    <div class="img-gallery">
                      <img class="res-img gallery-image" src="{{ company.about_image_2 | media }}" alt="image-2" />
                      <div class="on-hover-component">
                        <i class="fas fa-search hover-icon"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix about-desc">
            <div class="column column-2 about-img-tablet" data-aos="fade-right" data-aos-duration="3100">
              <img class="images about-text" src="{{ company.about_image_3 | media }}" alt="img" />
            </div>
            <div class="column column-2 about-text-wrapper d-flex align-items-center">
              <div class="row ">
                <p class="text-gray">
                  {{ company.about_second_text | raw }}
                  <br>
                  <div class="container office-info-wrapper clearfix">
                    <div class="row">
                      {% for value in company.values %}
                      <div class="office-site-card office-site-card-custom ">

                        <div class="site-text">
                          <p class="text-bold site-type">{{ value.value }}</p>
                          <p class="site-address">

                          </p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  </ul>
                </p>
                <div class="about-button" data-aos="fade-up" data-aos-duration="3100">
                  <a href="{{ 'home' | page }}#contacts" class="button style-2"> {{ company.about_btn_txt }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---END ABOUT-->

      <!---SERVICES START-->
      <section class="Services" data-aos="fade-up" data-aos-duration="3100" id="services">
        <div class="container">
          <div class="row">
            <div class="services-text">
              <div class="services-title services-title-custom">
                <h3 class="text-blue text-bold">
                  {{ company.services_title }}
                </h3>
                <p class="text-gray">
                  {{ company.services_text | raw }}
                </p>

              </div>
            </div>
            <div class="service-card-loop">
              <div class="row">

                <div class="service-card-wrapper card-loop-tablet" data-aos="fade-up" data-aos-duration="3100">
                  {% for area in company.consulting_areas   %}
                  <div class="services-card">
                    <div class="service-images">
                      <img class="card-images services-card-img" src="{{ area.image | media }}" alt="service image"
                        width="70" height="70"/>
                    </div>
                    <div class="service-desc">
                      <div class="services-card-body">
                        <p class="card-title">{{ area.title }}</p>
                        <p class="service-card-desc">
                          {{ area.description | raw }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!---END SERVICES-->
      <section class="Services-list" id="trainings">
        <div class="container">
          <div class="about-section-title ">
            <h2 class="text-blue">{{ 'Təlimlərimiz' |_ }}</h2>
          </div>
          <hr class="left-hr mb-5" />
          <div class="row service-loop-wrap clearfix">
            {% for training in company.trainings %}
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ training.image | media }}"
                    alt="Business Consulting" />
                </div>
                <div class="card-body service-card-body">
                  {% if false %}
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  {% endif %}
                  <div class="service-card-title mt-4">
                    
                      <h3 class="text-bold">{{ training.name }}</h3>
                    
                  </div>
                  {% if false %}
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="singleService.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </section>
      <!--END SERVICES LIST-->
          <!---BLOG START
      ==================================-->
      <section class="Blog" id="blog">
        <div class="container">
          <div class="row">
            <div class="blog-title-wrap">
              <div class="column column-2 blog-index-tablet">
                <div class="blog-title">
                  <p class="title-text letter-space5">{{ company.blog_suptitle }}</p>
                  <h3 class="text-blue">{{ company.blog_title }}</h3>
                  <hr class="left-hr" />
                  <p class="text-gray">
                    {{ company.blog_text | raw }}
                  </p>
                </div>
              </div>
              <div class="column column-2 blog-index-tablet">
                <div class="blog-button" data-aos="fade-up" data-aos-duration="3500">
                  <a class="button style-2" href="{{ 'blog' | page }}">{{ 'Bütün məqalələrə bax' |_ }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="blog-loop">
              {% for post in blogPosts.posts %}
              <div class="column column-3 blog-list-wrapper">
                <div class="blog-card card">
                  <div class="card-img-wrapper">
                    <div class="card-img-top img-zoom-wrapper">
                      <img class="res-img card-img" src="{{ post.featured_images[0].path }}" alt="card-img" />
                    </div>
                    {% if false %}
                    <div class="card-category">
                      <p>engineering</p>
                    </div>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <p class="card-title">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </p>
                    <p class="card-desc">
                      {{ post.excerpt | raw }}
                    </p>
                    <div class="card-date">
                      <small>{{ post.published_at|date('d/m/Y') }}</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </section>
      <!---END BLOG-->
      <!---TEAM START
				==================================-->
        <section class="Team" id="team">
          <div class="container">
            <div class="row">
              <div class="column column-4 team-section-desc">
                <div class="team-title">
                  <p class="text-gray letter-space5">{{ company.team_suptitle }}</p>
                  <h3 class="text-blue">{{ company.team_title }}</h3>
                  <hr class="left-hr mb-3" />
                </div>
                <div class="team-body">
                  <p class="text-gray">
                    {{ company.team_text | raw }}
                  </p>
                  {% if false %}
                  <a href="about.html">View All Team</a>
                  {% endif %}
                </div>
              </div>
              <div class="team-list">
                {% for teammate in company.team %}
                <div class="column column-3 team-wrapper">
                  <div class="team-img-wrapper">
                    <div class="team-img">
                      <img class="res-img" src="{{ teammate.image | media }}" alt="team-images" />

                    </div>
                    <div class="team-desc">
                      <p class="team-name">{{ teammate.name }}</p>
                      <p class="team-job">{{ teammate.post }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </section>
        <!---END TEAM-->
        {% if false %}
      <!--PARTNER START-->
      <section class="Partner" id="partners">
        <div class="container">
          <div class="row">
            <div class="partner-wrapper">
              <div class="partner-body">
                <div class="partner-text">
                  <div class="partner-title">
                    <p class="text-gray letter-space5">{{ company.partners_suptitle }}</p>
                  </div>
                  <h3 class="text-blue text-bold">{{ company.partner_title }}</h3>
                  <p class="partner-desc">
                    {{ company.partner_text | raw }}
                  </p>
                  <hr class="flex-hr" />
                </div>
              </div>
              {% set clients = company.partners %}
              <div class="partner-logo-wrapper">
                  
                <div class="partner-list">
                  {% for client in clients | slice(0,4) %}
                  <div class="logo-wrapper">
                    <img src="{{ client.image | media }}" alt="partner-img" class="partner-logo res-img {{ loop.index }}" style="width: 180px !important;height: 180px !important;"/>
                  </div>          
                  {% endfor %}
                </div>
                <div class="partner-list">
                  {% for client in clients | slice(4,7) %}
                  <div class="logo-wrapper">
                    <img src="{{ client.image | media }}" alt="partner-img" class="partner-logo res-img {{ loop.index }}" style="width: 180px !important;height: 180px !important;"/>
                  </div>          
                  {% endfor %}

                </div>




                {% if false %}
                <div class="partner-list">
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client6@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client4@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client8@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client7@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--END PARTNER-->
      {% endif %}
      <!---APPOITNMENT START-->
      <section class="Appointment mt-10" id="contacts">
        <div class="container">
          <div class="row">
            <div class="column column-60 desc-wrap">
              <div class="row appointment-body">
                <div class="column column-2 appointment-title">
                  <h2>{{ 'Əlaqə' |_ }}</h2>
                  <hr class="left-hr mobile-hide">
                </div>
                <div class="column column-2 main-office">
                  <h2 class="d-block">{{ company.address }}</h2>
                  {% if false %}
                  <a class="appointment-telp d-block" href="tel:{{ company.telephone }}">{{ company.telephone }}</a>
                  {% endif %}
                  <a class="text-green d-block pt-2" href="mailto:{{ company.pochta }}">{{ company.pochta }}</a>
                </div>

              </div>
              <div class="row appoitnment-form">
                {% component 'mainContactForm' %}
              </div>
            </div>
            <div class="column column-40 map-wrap">
              <div class="gMaps">
                <div class="mapouter">
                  <div class="gmap_canvas appointment-map">
                    <iframe id="gmap_canvas"
                      src="{{ company.gmaps }}">
                    </iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---END APPOINTMENT-->
      {% partial 'footer-theme' %}