url = "/"
layout = "main"
title = "Home"

[viewBag]
localeTitle[en] = "Home"
localeTitle[ru] = "Главная"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 4
noPostsMessage = "Xəbər tapılmadı"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{% partial 'home-header' %}

<div id="content" class="content-wrapper clearfix">
    <!--SWIPER START-->
    <section class="header-swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-bg">
              <div class="header-text-wrap">
                <div class="container">
                  <div class="row header-text">
                    <img src="{{ 'assets/images/shape2.png' | theme }}" alt="header-shape" class="header-shape" />
                    <div class="header-title">
                      <p class="text-white">welcome</p>
                    </div>
                    <div class="header-sub-title">
                      <h1 class="text-white">
                        We’re professionals <br> for growing your business!
                      </h1>
                    </div>
                    <div class="header-desc">
                      <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                      </p>
                    </div>
                    <div class="header-button">
                      <p class="learn-more">
                        <a class="text-white" href="about.html">LEARN MORE</a>
                        <i class="fas fa-long-arrow-alt-right text-white"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-bg" style="
                  background: url('{{ 'assets/images/slider-2s.jpg' | theme }}');
                  background-size: cover;
                  background-position: center center;
                ">
              <div class="header-text-wrap">
                <div class="container">
                  <div class="row header-text">
                    <img src="{{ 'assets/images/shape2.png' | theme }}" alt="header-shape" class="header-shape" />
                    <div class="header-title">
                      <p class="text-white">services</p>
                    </div>
                    <div class="header-sub-title">
                      <h1 class="text-white">
                        Get guaranteed success <br> with our advisors!
                      </h1>
                    </div>
                    <div class="header-desc">
                      <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                      </p>
                    </div>
                    <div class="header-button">
                      <p class="learn-more">
                        <a class="text-white" href="about.html">LEARN MORE</a>
                        <i class="fas fa-long-arrow-alt-right text-white"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!--END SWIPER-->

      <!---ABOUT START-->
      <section class="About">
        <div class="container">
          <div class="row clearfix">
            <div class="column column-2 about-section d-flex align-items-center">
              <div class="about-section-title ">
                <h2 class="text-blue">{{ 'Missiyamız' |_ }}</h2>
                <hr class="left-hr" />
                <p class="sub-title">
                </p>
                <p class="text-gray about-desc">
                </p>
              </div>
            </div>
            <div class="column column-2 gallery-section">
              <div class="gallery" id="lightGallery">
                <div data-src="{{ 'assets/images/image1.jpg' | theme }}" data-responsive-src="{{ 'assets/images/image1.jpg' | theme }}" data-aos="fade-up"
                  data-aos-duration="3100" class="img-gallery-wrap">
                  <a href="index.html#">
                    <div class="img-gallery">
                      <img class="res-img gallery-image" src="{{ 'assets/images/image1.jpg' | theme }}" alt="image-1" />
                      <div class="on-hover-component">
                        <i class="fas fa-search hover-icon"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div data-src="{{ 'assets/images/image2.jpg' | theme }}" data-responsive-src="{{ 'assets/images/image2.jpg' | theme }}" data-aos="fade-up"
                  data-aos-duration="3100" class="img-gallery-wrap">
                  <a href="index.html#">
                    <div class="img-gallery">
                      <img class="res-img gallery-image" src="{{ 'assets/images/image2.jpg' | theme }}" alt="image-2" />
                      <div class="on-hover-component">
                        <i class="fas fa-search hover-icon"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix about-desc">
            <div class="column column-2 about-img-tablet" data-aos="fade-right" data-aos-duration="3100">
              <img class="images" src="{{ 'assets/images/image3-1.jpg' | theme }}" alt="img" />
            </div>
            <div class="column column-2 about-text-wrapper d-flex align-items-center">
              <div class="row about-text">
                <p class="text-gray">
                  {{ 'Idarəetmə praktikasını
                  inkişaf etdirməklə tərəqqiyə töhfə
                  verməkdədir.' |_ }}
                </p>
                <div class="about-button" data-aos="fade-up" data-aos-duration="3100">
                  <a href="about.html" class="button style-2"> Həll sifariş edin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---END ABOUT-->



      <!---Values START-->
      <section class="Services">
        <div class="container">
          <div class="row">
            <div class="services-text d-flex align-items-center">
              <div class="services-title">
                <h3 class="text-blue text-bold">
                  {{ 'Dəyərlərimiz' }}
                </h3>

              </div>
            </div>
            <div class="service-card-loop">
              <div class="row">
                <div class="service-card-wrapper card-loop-tablet" data-aos="fade-up" data-aos-duration="3100">
                  <div class="services-card">
                    <div class="service-images">
                      <img class="card-images services-card-img" src="{{ 'assets/images/service1s.png' | theme }}" alt="service image"
                        width="70" />
                    </div>
                    <div class="service-desc">
                      <div class="services-card-body">
                        <p class="card-title">{{ 'Peşəkarlıq' |_ }}</p>
                        <p class="service-card-desc">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="services-card">
                    <div class="service-images">
                      <img class="card-images services-card-img" src="{{ 'assets/images/service2-1.png' | theme }}" alt="service image"
                        width="70" />
                    </div>
                    <div class="service-desc">
                      <div class="services-card-body">
                        <p class="card-title">{{ 'Vicdanlıq' |_ }}</p>
                        <p class="service-card-desc">

                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-card-wrapper card-loop-tablet" data-aos="fade-up" data-aos-duration="3100">
                  <div class="services-card">
                    <div class="service-images">
                      <img class="card-images services-card-img" src="{{ 'assets/images/service3-1.png' | theme }}" alt="service image"
                        width="70" />
                    </div>
                    <div class="service-desc">
                      <div class="services-card-body">
                        <p class="card-title">{{ 'Məsuliyyətlik' |_ }}</p>
                        <p class="service-card-desc">

                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="services-card">
                    <div class="service-images">
                      <img class="card-images services-card-img" src="{{ 'assets/images/service4-1.png' | theme }}" alt="service image"
                        width="70" />
                    </div>
                    <div class="service-desc">
                      <div class="services-card-body">
                        <p class="card-title">{{ 'Davamlı özünüinkişaf' |_ }}</p>
                        <p class="service-card-desc">

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---END SERVICES-->

      <!-- !!! CONSULTING AREA -->
      <section class="Services-list">
        <div class="container">
          <div class="row">
            <div class="testimoni-title">
              <h3 class="text-blue">Məsləhət xidmətlərimizin sahələri</h3>
              <hr class="left-hr" />
              <p class="letter-space5">İdarəetmə</p>
            </div>
          </div>
          <div class="row service-loop-wrap clearfix">
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/consultation-PHUWVCP-500x300@2x.jpg' | theme }}"
                    alt="Business Consulting" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">BUSINESS CONSULTING</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="singleService.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/business-consultation-PQQA29L-500x300@2x.jpg' | theme }}"
                    alt="Market Research" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">MARKET RESEARCH</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="https://html.themesawesome.com/konsultanhtml/singleservice.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/risk-management-500x300@2x.jpg' | theme }}"
                    alt="Risk Management" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">RISK MANAGEMENT</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="singleService.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

<!-- divider -->
          <div class="row">
            <div class="testimoni-title">
              <hr class="left-hr" />
              <p class="letter-space5">Daxili kommunikasiyalar</p>
            </div>
          </div>
          <div class="row service-loop-wrap clearfix">
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/consultation-PHUWVCP-500x300@2x.jpg' | theme }}"
                    alt="Business Consulting" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">BUSINESS CONSULTING</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="singleService.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/business-consultation-PQQA29L-500x300@2x.jpg' | theme }}"
                    alt="Market Research" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">MARKET RESEARCH</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="https://html.themesawesome.com/konsultanhtml/singleservice.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column column-3 service-card-tablet">
              <div class="service-cards card">
                <div class="card-img-top img-zoom-wrapper">
                  <img class="service-card-img card-img" src="{{ 'assets/images/risk-management-500x300@2x.jpg' | theme }}"
                    alt="Risk Management" />
                </div>
                <div class="card-body service-card-body">
                  <div class="serviceman-name">
                    <p>By <span class="s-name">Daniel Zelda</span></p>
                  </div>
                  <div class="service-card-title">
                    <a href="singleService.html">
                      <h3 class="text-bold">RISK MANAGEMENT</h3>
                    </a>
                  </div>
                  <div class="service-card-desc">
                    <p>
                      We live in the world of data now; data allows us to make
                      realistic decisions about the future. No financial...
                    </p>
                    <div class="service-card-button">
                      <a href="singleService.html" class="button style-8">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- END CONSULTING AREA -->
      <!-- !!! TRAINNING -->
      <section class="Teams bg-light-blue team-about">
        <div class="container">
          <div class="row clear-fix">
            <div class="team-title">
              <h3 class="text-blue text-center text-bold">
                Təlimlərimiz
              </h3>
              <hr class="center-hr" />
            </div>
            <div class="column column-1 team-list d-flex justify-content-center">
              <div class="column column-4 about-team-wrapper">
                <div class="team-img-wrapper">
                  <div class="team-img">
                    <img class="res-img" src="{{ 'assets/images/t1-370x370-500x500.jpg' | theme }}" alt="team-images" />
                    <div class="overlay">
                      <div class="overlay-body">
                        <p class="text-white text-center">
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="team-desc">
                    <p class="text-blue team-name d-flex justify-content-end">İdarəetmə bacarıqları</p>
                  </div>
                </div>
              </div>
              <div class="column column-4 about-team-wrapper">
                <div class="team-img-wrapper">
                  <div class="team-img">
                    <img class="res-img" src="{{ 'assets/images/t1-370x370-500x500.jpg' | theme }}" alt="team-images" />
                    <div class="overlay">
                      <div class="overlay-body">
                        <p class="text-white text-center">
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="team-desc">
                    <p class="text-blue team-name d-flex justify-content-end">İdarəetmə bacarıqları</p>
                  </div>
                </div>
              </div>
              <div class="column column-4 about-team-wrapper">
                <div class="team-img-wrapper">
                  <div class="team-img">
                    <img class="res-img" src="{{ 'assets/images/t1-370x370-500x500.jpg' | theme }}" alt="team-images" />
                    <div class="overlay d-flex align-items-center">
                      <div class="overlay-body">
                        <p class="text-white text-center">
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="team-desc">
                    <p class="text-blue team-name d-flex justify-content-end">İdarəetmə bacarıqları</p>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </section>

      <!-- END TRAINING -->
      <!---BLOG START
				==================================-->
        <section class="Blog">
          <div class="container">
            <div class="row">
              <div class="blog-title-wrap">
                <div class="column column-2 blog-index-tablet">
                  <div class="blog-title">
                    <p class="title-text letter-space5"></p>
                    <h3 class="text-blue">{{ 'Bloq' |_ }}</h3>
                    <hr class="left-hr" />
                    <p class="text-gray">
                    </p>
                  </div>
                </div>
                <div class="column column-2 blog-index-tablet">
                  <div class="blog-button" data-aos="fade-up" data-aos-duration="3500">
                    <a class="button style-2" href="{{ 'blog' | page }}"> {{ 'Bütün məqalələrə bax' |_ }} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="blog-loop">
                {% for post in blogPosts.posts %}
                <div class="column column-3 blog-list-wrapper">
                  <div class="blog-card card">
                    <div class="card-img-wrapper">
                      <div class="card-img-top img-zoom-wrapper">
                        <img class="res-img card-img" src="{{ post.featured_images[0].path }}" alt="card-img" />
                      </div>
                      <div class="card-category">
                        <p>{% for category in post.categories %}{{ category.name  }}{% endfor %}</p>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-title">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                      </p>
                      <p class="card-desc">
                        {{ post.excerpt | raw }}
                      </p>
                      <div class="card-date">
                        <small>{{ post.published_at|date('d/m/Y') }}</small>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <!---END BLOG-->

      <!---TEAM START
				==================================-->
        <section class="Team">
          <div class="container">
            <div class="row">
              <div class="column column-4 team-section-desc">
                <div class="team-title">
                  <p class="text-gray letter-space5"></p>
                  <h3 class="text-blue">{{ 'Komandamız' |_ }}</h3>
                  <hr class="left-hr mb-3" />
                </div>
                <div class="team-body">
                  <p class="text-gray">
                  </p>
                </div>
              </div>
              <div class="team-list">
                <div class="column column-3 team-wrapper">
                  <div class="team-img-wrapper">
                    <div class="team-img team-img-non-hover">
                      <img class="res-img" src="{{ 'assets/images/t2-370x370-500x500.jpg' | theme }}" alt="team-images" />
                      <div class="overlay">
                        <div class="overlay-body">
                          <p class="text-white">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="team-desc d-flex justify-content-center" style="flex-direction: column;">
                      <p class="team-name">Joye Byoend</p>
                      <p class="team-job">Chief Operating</p>
                    </div>
                  </div>
                </div>
                <div class="column column-3 team-wrapper">
                  <div class="team-img-wrapper">
                    <div class="team-img team-img-non-hover">
                      <img class="res-img" src="{{ 'assets/images/t2-370x370-500x500.jpg' | theme }}" alt="team-images" />
                      <div class="overlay">
                        <div class="overlay-body">
                          <p class="text-white">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="team-desc d-flex justify-content-center" style="flex-direction: column;">
                      <p class="team-name">Joye Byoend</p>
                      <p class="team-job">Chief Operating</p>
                    </div>
                  </div>
                </div>
                <div class="column column-3 team-wrapper">
                  <div class="team-img-wrapper">
                    <div class="team-img team-img-non-hover">
                      <img class="res-img" src="{{ 'assets/images/t2-370x370-500x500.jpg' | theme }}" alt="team-images" />
                      <div class="overlay">
                        <div class="overlay-body">
                          <p class="text-white">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="team-desc d-flex justify-content-center" style="flex-direction: column;">
                      <p class="team-name">Joye Byoend</p>
                      <p class="team-job">Chief Operating</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!---END TEAM-->

      <!--PARTNER START-->
      <section class="Partner">
        <div class="container">
          <div class="row">
            <div class="partner-wrapper">
              <div class="partner-body">
                <div class="partner-text">
                  <div class="partner-title">
                    <p class="text-gray letter-space5"></p>
                  </div>
                  <h3 class="text-blue text-bold">Müştərilərimiz</h3>
                  <p class="partner-desc">
                  </p>
                  <hr class="flex-hr" />
                </div>
              </div>
              <div class="partner-logo-wrapper">
                <div class="partner-list">
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client1@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client2@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client3@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client5@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                </div>
                <div class="partner-list">
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client6@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client4@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client8@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                  <div class="logo-wrapper">
                    <img src="{{ 'assets/images/client7@2x.jpg' | theme }}" alt="partner-img" class="partner-logo res-img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--END PARTNER-->
{% partial 'footer' %}
  </div>