    <!---FOOTER START
				==================================-->
                <footer id="footer" class="footer clearfix">
                    <div class="footer-widget">
                      <div class="container">
                        <div class="row clearfix">
                          <div class="column column-3 footer-widget-component">
                            <a href="index.html">
                              <img class="footer-logo res-img" src="images/logo.png" alt="footer-logo" />
                            </a>
                            <p class="footer-text footer-desc">
                            </p>
                          </div>
                          <div class="column column-3 footer-widget-component">
                            <p class="footer-title text-white">{{ 'Əlaqə saxlayın' |_ }}</p>
                            <hr class="left-hr" />
                            <p class="footer-text"><b>{{ company.telephone }}</b></p>
                            <p class="footer-text">
                                {{ company.address }}
                            </p>
                            <p class="footer-text footer-email">{{ company.pochta }}</p>
 
                          </div>

                          <div class="column column-3 footer-widget-component">
                            <p class="footer-title text-white">{{ 'Bizi izləyin' |_ }}</p>
                            <hr class="left-hr" />

                            <div class="footer-icon-wrapper">
                            {% for social in company.socials %}
                              <a href="{{ social.url }}" target="_blank">
                                <div class="footer-icon">
                                  <i class="{{ social.name }}"></i>
                                </div>
                              </a>
                              {%  endfor%}
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              
                    <div class="footer-bottom clear-fix">
                      <div class="container">
                        <div class="row clearfix">
                          <div class="footer-copyright column column-2">
                            &copy;<span id="year"></span> {{ 'Veb-sayt &nbsp;<a href="https://studio.gadimlie.com/"
                              class="text-green">Gadimlie Studio</a> tərəfindən hazırlanıb' |_ }}
                          </div>
                          <div class="column column-2 footer-nav">
                            <div class="footer-menu-wrapper">
                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Əsas səhifə' |_ }}</a>
                              </div>

                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Təlimlərimiz' |_ }}</a>
                              </div>
                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Bloq' |_ }}</a>
                              </div>
                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Komandamız' |_ }}</a>
                              </div>
                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Müştərilərimiz' |_ }}</a>
                              </div>
                              <div class="footer-menu">
                                <a class="footer-link" href="{{ 'home' | page }}">{{ 'Əlaqə' |_ }}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
                  <!--END FOOTER-->